//scss for app component
@font-face {
    font-family: HPE-Light;
    src: url(../assets/fonts/MetricHPE-Web-Light.woff) format("woff"),
    url(../assets/fonts/MetricHPE-Web-Light.eot) format("eot"),
  
  }
.mat-tab-link{
    font-family: 'HPE-Light' !important;
}