<h2>Document Details</h2>

<nb-card>

  <nb-card-body>
      <div *ngIf="document">
          <h3>{{ document.name }}</h3>
          <h4>{{ document.price | currency }}</h4>
          <p>{{ document.description }}</p>
        
          <nb-icon (click)="addToBookmarks(document)" icon="bookmark-outline" class="icon-size"> </nb-icon>
          <nb-icon  icon="download-outline" class="icon-size"> </nb-icon>
          <nb-icon  icon="expand-outline" class="icon-size"> </nb-icon>
        
        </div>
  </nb-card-body>
</nb-card>


